#container {
    display: flex;
    width: 100%;
    padding: 20px;
}

#btn {
    margin-right: 10px;
    width: 20%;
    height: 10vh;
}

#slider {
    width: 50%;
    height: 10vh;
}

html,
body {
    width: 100%;
    height: 100%;
}
